node_modules
dist
build
coverage

.env
.env.example
.env.local
.env.*.local

*.log
logs

.DS_Store
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

be_git_backup
